.onclick-menu {
  position: relative;
  display: inline-block;
}
.onclick-menu:before {
}
.onclick-menu:focus .onclick-menu-content {
  /* content is visible if menu is 'opened' */
  visibility: visible;
  list-style-type: none;
}
.onclick-menu-content {
  position: absolute;
  z-index: 1;
  margin-top:-60px;
  list-style-type: none;
  padding: 0 !important;
  /* disable visibility by default, delay to enable clicks */
  visibility: hidden;
  transition: visibility 0.5s;
}
